
/* Global Styles */

/* Nav Styles */

.navbar {
    min-height: 8vh;
    font-family: 'Poly', serif;
}


/* Homepage Styles */

#home {
    margin-top: 3%;
    font-family: 'Poly', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    font-size: 19px;
    letter-spacing: 0.8px;
}

.parallax {
    background-image: url(../../img/sand1.jpg);
    height: 40vh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.justify-content-center {
    height: 15vh;
    padding-top: 3vh;
}

/* Weddings & Events  */

#wedding {
    margin-top: 3%;
    font-family: 'Poly', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    font-size: 19px;
    letter-spacing: 0.8px;
}

#wedding h1 {
    font-size: 2.25rem;
    margin: 0;
}

.square {
    width: 100%;
    max-width: 850px;
    margin: 4% auto;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Gallery Styles */

.gallery {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.gallery__item {
    width: 100%;
    height: 250px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact Styles */

.contact-wrap {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Poly', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 35px;
    font-size: 19px;
    letter-spacing: 0.8px;
}

.contact-left {
    padding: 5% 5% 2.5% 5%;
}

.contact-left h1 {
    margin-top: 5%;
    font-size: 3.25rem;
}

.contact-left p {
    width: 60%;
    line-height: 35px;
}

.icon {
    width: 60x;
    height: 60px;
}

.icon:hover {
    cursor: pointer;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10% auto;
    width: 90%;
}

.contact-right {
    width: 100%;
    padding: 5% 5% 2.5% 5%;
    line-height: 30px;
}

.mapouter{
    position:relative;
    text-align:left;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height: 100%;
    width: 100%;
}

.credit {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.3);
    display: block;
}


@media all and (min-width: 767px) {

/* Weddings & Events  */


#wedding h1 {
    font-size: 3.5rem;
}

/* Gallery Styles */

.gallery {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(27, 5vw);
    grid-gap: 20px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item {
    width: 100%;
    height: 100%;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.item-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 12;
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 17;
}

.item-5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 17;
}

.item-6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 17;
    grid-row-end: 22;
}

.item-7 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 22;
}

.item-8 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 22;
    grid-row-end: 28;
}

/* Contact Styles */

.contact-wrap {
    display: flex;
    flex-direction: row;
    height: 78vh;
    margin-top: 2%;
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin: 10% 0 10% 0;
    justify-content: space-between;
    width: 75%;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 10% 0;
}

.contact-left {
    width: 55%;
    padding: 4%;
}

.contact-left p {
    width: 75%;
    margin: 7.5% 0;
}

.contact-right {
    width: 45%;
    padding: 12% 0 0 0;
}

.mapouter{
    position:relative;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height: 100%;
    width: 100%;
}

}

@media all and (min-width: 1350px) {

.container-fluid {
    max-width: 85%;
}

.gallery {
    width: 75%;
    margin: 0 auto;
    grid-template-rows: repeat(19, 5vw);
}

.item-1 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.item-2 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.item-3 {
    grid-row-start: 4;
    grid-row-end: 9;
}

.item-4 {
    grid-row-start: 9;
    grid-row-end: 12;
}

.item-5 {
    grid-row-start: 9;
    grid-row-end: 12;
}

.item-6 {
    grid-row-start: 12;
    grid-row-end: 15;
}

.item-7 {
    grid-row-start: 12;
    grid-row-end: 15;
}

.item-8 {
    grid-row-start: 15;
    grid-row-end: 20;
}
}

/* footer styles */

footer {
    bottom: 0;
    width: 100%;
    height: 4vh;
    font-family: 'Poly', serif;
}

footer a {
    color: rgba(0, 0, 0, 0.7);
}