
/* Global Styles */
body {
    overflow-y: scroll;
}
/* Nav Styles */

.navbar {
    min-height: 8vh;
    font-family: 'Poly', serif;
}


/* Homepage Styles */

#home {
    margin-top: 3%;
    font-family: 'Poly', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 0.8px;
}

.parallax {
    background-image: url(../../img/beach_sunset.jpg);
    height: 40vh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }

  .front-credit {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: left;
      font-size: 7px;
      color: rgba(255, 255, 255, 0.5);
      padding-left: 1%;
  }

.centered h3 {
    font-size: 22px;
    margin: 10px;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.centered a {
    padding: 10px;
    font-size: 1.25rem;
    border: solid white 2px;
    text-decoration: none;
    color: white;
}

.centered a:hover {
    color: rgba(125, 119, 116, 0.9);
    background: white;
    text-decoration: none;
    border: solid rgba(125, 119, 116, 0.9) 2px;
    transition: all 0.25s ease-in;
}

.justify-content-center {
    height: 10vh;
    padding-top: 3vh;
}

/* Weddings & Events  */

#wedding {
    margin-top: 3%;
    font-family: 'Poly', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    font-size: 19px;
    letter-spacing: 0.8px;
}

.square {
    width: 100%;
    max-width: 400px;
    margin: 4% auto;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #fff;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Gallery Styles */

#gallery {
    margin-top: 3%;
    font-family: 'Poly', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    font-size: 19px;
    letter-spacing: 0.8px;
}

.gallery {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.gallery__item {
    width: 100%;
    height: 250px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact Styles */

iframe {
    display: block;
    height: 400px;
    width: 400px;
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    min-height: 720px;
    height: auto;
    font-family: 'Poly', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 35px;
    font-size: 19px;
    letter-spacing: 0.8px;
}

.contact-left {
    padding: 5% 5% 2.5% 5%;
}

.contact-left h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 3.25rem;
}

.contact-left p {
    padding-top: 2rem;
    width: 80%;
    line-height: 35px;
}

.icon {
    width: 60px;
    height: 60px;
}

.icon:hover {
    cursor: pointer;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10% auto;
    width: 90%;
}

.contact-right {
    width: 100%;
    padding: 5% 5% 2.5% 5%;
    line-height: 30px;
}

.mapouter{
    position:relative;
    text-align:left;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height: 100%;
    width: 100%;
}

.credit {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.3);
    display: block;
}

/* footer styles */

footer {
    font-family: 'Poly', serif;
}

.footer-container {
    bottom: 0;
    padding-top: 2%;
}

footer a {
    color: rgba(0, 0, 0, 0.7);
}


@media all and (min-width: 767px) {

/* Home Styles */

#home {
    line-height: 35px;
}

.centered h3 {
    font-size: 2.25rem;
}

/* Weddings & Events  */


.square {
    max-width: 600px;
}

/* Gallery Styles */

.gallery {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(27, 5vw);
    grid-gap: 20px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item {
    width: 100%;
    height: 100%;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.item-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 12;
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 17;
}

.item-5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 17;
}

.item-6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 17;
    grid-row-end: 22;
}

.item-7 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 22;
}

.item-8 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 22;
    grid-row-end: 28;
}

/* Contact Styles */

.contact-wrap {
    display: flex;
    flex-direction: row;
    height: 78vh;
    margin-top: 2%;
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin: 20% 0 10% 0;
    justify-content: space-between;
    width: 75%;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 10% 0;
}

.contact-left {
    text-align: left;
    width: 50%;
    padding: 3% 4% 4% 4%;
}

.contact-left p {
    padding-top: 1rem;
    margin: 7.5% 0;
}

.contact-right {
    width: 50%;
    padding: 10% 0 0 0;
}

.mapouter{
    display: block;
    position:relative;
    height: 100%;
    width: 100%;
    max-height: 480px;
}

.gmap_canvas {
    box-sizing: border-box;
    overflow:hidden;
    background:none!important;
    height: 100%;
    width: 100%;
}

/* footer styles */


}

@media all and (min-width: 1000px) {

#home {
    line-height: 40px;
}

.parallax {
    background-image: url(../../img/beach_sunset_lg.jpg);
    background-position: bottom;
    background-size: contain;
    height: 50vh;
}

.centered h3 {
    font-size: 2.65rem;
    letter-spacing: 1px;
}

.centered a {
    padding: 15px;
}

.contact-left h1 {
    text-align: left;

.contact-wrap {
    margin-top: 0%;
}

.icon {
    width: 80px;
    height: 80px;
}


}


@media all and (min-width: 1350px) {

.container-fluid {
    max-width: 85%;
}

.square {
    max-width: 750px;
}

.gallery {
    width: 75%;
    margin: 0 auto;
    grid-template-rows: repeat(19, 5vw);
}

.item-1 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.item-2 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.item-3 {
    grid-row-start: 4;
    grid-row-end: 9;
}

.item-4 {
    grid-row-start: 9;
    grid-row-end: 12;
}

.item-5 {
    grid-row-start: 9;
    grid-row-end: 12;
}

.item-6 {
    grid-row-start: 12;
    grid-row-end: 15;
}

.item-7 {
    grid-row-start: 12;
    grid-row-end: 15;
}

.item-8 {
    grid-row-start: 15;
    grid-row-end: 20;
}

}

